      
        @font-face {
            font-family: Navbar_ts;
            src: url(../fonts/header.ttf);
        }
        
        @font-face {
            font-family: othertext;
            src: url(../fonts/othertext.ttf);
        }

