.shop_container{
        margin-top: 160px;

        .item{
            text-align: center;
            margin-bottom: 48px;

            img{
                height: 250px;
                margin-bottom: 22px;
                border: 2px solid #333333;
            }

            .titleContainer{
                margin-bottom: 12px;
            }
            .title {
                color: #333333;
                cursor: pointer;
                &:hover{
                    color: #FF6C0D;
                }
            }
            
            .cost {
                text-align: center;
                font-family: 'AGOptCyrillic Normal', 'AGOptCyrillic';
                font-size: 150%;
                color:#FF6C0D;
                border: 1px solid #cccccc;
                float: left;
                margin-left: 50px;
                width: 100px;
            }  
            .to_cart{
                border-radius: 0;
                margin-left:29px;
                padding-left: 19px;
                padding-right: 19px;
                color:#FF6C0D;
            }
        }
}