.signin_container {
    margin-top: 160px;
    margin-bottom: 30px;

    .input_area{
        margin-bottom: 60px;
        .input_row{
            margin-bottom: 24px;

            input {
                margin-top: 8px;
                width: 100%;

                &:focus {                
                    border-color: #f8a068;
                }
            }
        }
    }

    .sign_in{
        background: #8bae00;
        border: 1px solid #8bae00;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #f8f8ff;
        cursor: pointer;
        
        &:active {
            background: #4f5f06;
            border: 1px solid #4f5f06;
        }
    }

    .register_text{
        margin-bottom: 60px;
    }
}