.signup_container {
    margin-top: 120px;
    margin-bottom: 30px;

    .input_area{
        margin-bottom: 60px;
        .input_row{
            margin-bottom: 24px;

            input {
                margin-top: 8px;
                width: 100%;

                &:focus {                
                    border-color: #f8a068;
                }
            }
        }
    }
}

    .sign_up{
        background: #FF6C0D;
        border: 1px solid #FF6C0D;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #f8f8ff;
        cursor: pointer;
        width: 100%;
        
        &:active {
            background: #C8580F;
            border: 1px solid #666666;
        }
    }